body {
    margin: 0;
    font-family: SegoeUI,Helvetica,Arial,sans-serif;
    font-size: 13px;
    user-select: none;
}

#main {
    margin: 10px;
    width: 280px;
    margin-bottom: 15px;
}

#panel {
    padding: 5px;
    display: table;
}

img {
    vertical-align: middle;
    display: table-cell;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    float: left;
}

span {
    vertical-align: middle;
    display: table-cell;
}

a{
	display: block;
	box-sizing: border-box;
	padding: 10px 13px 10px 13px;
	box-shadow: 0 1.6px 3.6px rgba(0,0,0,.13), 0 0.3px 0.9px rgba(0,0,0,.1);
	cursor:pointer;
	text-decoration:none;
	
}

i{
	font-size: 10px;
    line-height: 10px;
    vertical-align: top;
    margin-top: 11px;
    float: left;
	width:15px;
}

.title{
	display: -webkit-flex;
    font-weight: 600;
    font-size: 16px;
    color: #212121;
    padding-left: 5px;
}

.subtitle{
	display: -webkit-flex;
    font-size: 12px;
    padding-left: 5px;
	color:black;
}

.box{
    margin: 5px;
}

.box:hover {
    box-shadow:0px 0px 10px #00000057
}

#office-icon-main {
    width: 70px;
    height: 70px;
    margin-left: -17px;
    margin-right: -5px;
}

#popup-title {
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.office-icon {
    margin-right: 5px;
}
