body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    user-select: none;
}

#main {
    margin: 10px;
	width: 280px
}

#panel {
    padding: 5px;
    display: table;
}

img {
    vertical-align: middle;
    display: table-cell;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    float: left;
}

span {
    vertical-align: middle;
    display: table-cell;
}

a{
	display: block;
	box-sizing: border-box;
	padding: 10px 13px 10px 13px;
	box-shadow: 0 1.6px 3.6px rgba(0,0,0,.13), 0 0.3px 0.9px rgba(0,0,0,.1);
	font-family: SegoeUI,Helvetica,Arial,sans-serif;
	cursor:pointer;
	text-decoration:none;
	
}

i{
	font-size: 10px;
    line-height: 10px;
    vertical-align: top;
    margin-top: 11px;
    float: left;
	width:15px;
}

.title{
	display: -webkit-flex;
    font-weight: 600;
    font-size: 16px;
    color: #212121;
    padding-left: 5px;
	font-family: SegoeUI,Helvetica,Arial,sans-serif;
}

.subtitle{
	display: -webkit-flex;
    font-size: 12px;
    padding-left: 5px;
	font-family: SegoeUI,Helvetica,Arial,sans-serif;
	color:black;
}
