<!DOCTYPE html>
<html xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>Microsoft Office documents in Microsoft Edge</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../style/mainPopup.css" />
</head>

<body>
  <main>
    <div id="main">
      <!--<h4>Microsoft Office documents in Microsoft Edge</h4>
      <div id="panel">
        <span><img src="../assets/icon.png"></span>
        <span>Use this to extension to open or create Microsoft Office documents from anywhere in
          the web inside Microsoft Edge.</span>
      </div>-->
	  <a href="https://www.office.com/launch/word" target="_blank">
		<i class="fa fa-plus" style="color:#2C579A;"></i>
		<div class="icons"><img src="../assets/wordIcon.png"></div>
		<div class="title">Document</div>
		<div class="subtitle">Word</div>
	  </a>
	  <a href="https://www.office.com/launch/excel" target="_blank">
		<i class="fa fa-plus" style="color:#207346;"></i>
		<div class="icons"><img src="../assets/excelIcon.png"></div>
		<div class="title">Spreadsheet</div>
		<div class="subtitle">Excel</div>
	  </a>
	  <a href="https://www.office.com/launch/powerpoint" target="_blank">
		<i class="fa fa-plus" style="color:#B8472A;"></i>
		<div class="icons"><img src="../assets/pptIcon.png"></div>
		<div class="title">Presentation</div>
		<div class="subtitle">PowerPoint</div>
	  </a>
    </div>
  </main>
</body>
</html>